@media (max-width: 1200px) {
  .main-content {
    width: 90%;
  }
}

@media (max-width: 1023px) {
  .nav-links {
    column-gap: 0px;
  }
  .navLink {
    padding: 10px 18px;
  }
  .new-footer .contact-details {
    display: none;
  }
  .wishlist-items {
    padding: 0px;
  }
}

@media (max-width: 900px) {
  .nav {
    padding: 10px 20px;
  }
  .navLink {
    padding: 10px 14px;
  }
  .main-content {
    width: 100%;
  }
  .nav {
    margin-bottom: 16px;
  }
  .new-footer {
    padding: 16px 20px;
  }
  .wishlist-item {
    width: 275px;
  }
  .wishlist-item-img {
    width: 225px;
    height: 225px;
  }
  .selling-price {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .nav-parent .mobile {
    margin-bottom: 16px;
  }
  .mobile {
    display: block;
    width: 100%;
  }
  .desktop .searchbar {
    display: none;
  }
  .nav {
    margin-bottom: 12px;
  }
  .quick-links-and-categories-links {
    flex-direction: column;
    row-gap: 16px;
    align-items: start !important;
  }
  .quick-links {
    flex-direction: row;
    gap: 16px !important;
    margin: 0px 0px 12px 0px;
  }
  .quick-links .link-parent {
    flex-direction: row;
    gap: 16px !important;
  }
  .quick-links .link-parent a {
    text-decoration: underline;
  }
  .wishlist-item-name,
  .mrp-price {
    font-size: 14px;
  }
  .selling-price {
    font-size: 16px;
  }
  .wishlist-item {
    width: 225px;
  }
  .wishlist-item-img {
    width: 175px;
    height: 175px;
  }
}

@media (max-width: 575px) {
  .copyrights {
    flex-direction: column;
  }
  .wishlist-item {
    flex-direction: row;
    width: 100%;
  }
  .wishlist-items {
    row-gap: 15px;
    column-gap: 15px;
    display: flex;
    flex-direction: row !important;
    width: 100%;
  }
  .image-wrapper {
    width: 150px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wishlist-item-img {
    width: 130px;
    height: 130px;
  }
  .paragraph-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 150px);
    padding: 8px 12px 8px 8px;
  }
  .wishlist-cart-button,
  .wishlist-cart-link {
    border-radius: var(--block-border);
  }
  .wishlist-item-name {
    text-align: left;
    padding: 0px;
  }
  .paragraphs .price-wrapper {
    justify-content: start;
    flex-wrap: wrap;
    row-gap: 0px !important;
    column-gap: 6px !important;
  }
  .wishlist-cart-button,
  .wishlist-cart-link {
    width: max-content;
    padding: 6px 12px;
  }
  .paragraphs {
    margin-bottom: 0px;
  }
}

@media (max-width: 524px) {
  .logo {
    font-size: 24px;
  }
  .navLink {
    font-size: 16px;
    padding: 10px 12px;
  }
  .nav-icon {
    font-size: 16px;
  }

  .cart-items-count,
  .wishlist-items-count {
    font-size: 12px;
    height: 18px;
    width: 18px;
    right: -2px;
  }

  .categories {
    padding: 12px 0px;
  }
}

@media (max-width: 450px) {
  .nav {
    flex-direction: column;
    row-gap: 2px;
  }
  .nav-container {
    width: 100%;
  }
  .nav-links {
    width: 100%;
    justify-content: space-evenly;
  }
  .footer-logo-and-socials {
    flex-direction: column;
    row-gap: 12px;
  }
  .categories-tags {
    display: none;
  }
  .social-links {
    width: 100% !important;
    justify-content: space-evenly !important;
    margin-bottom: 12px !important;
  }
  .form {
    padding: 40px 20px;
  }
  .form-label {
    font-size: 14px;
  }
  .form-input,
  .form-button,
  .form-toggle-link {
    font-size: 15px;
  }
  .wishlist-item-name,
  .mrp-price,
  .wishlist-cart-button,
  .wishlist-cart-link {
    font-size: 13px;
  }
  .selling-price {
    font-size: 14px;
  }
}

@media (max-width: 425px) {
  .quick-links-and-categories-links {
    margin-bottom: 16px !important;
  }
  .categories-tags {
    display: none !important;
  }
  .image-wrapper {
    width: 125px !important;
  }
  .wishlist-item-img {
    width: 115px;
    height: 115px;
  }
  .paragraph-wrapper {
    width: calc(100% - 125px);
  }
}

@media (max-width: 374px) {
  .category img {
    height: 175px;
  }
}
