.main-wishlist-page {
  width: 100%;
  /* min-height: calc(100vh - 67px); */
  padding: 0px 0px 25px 0px;
}

.page-heading {
  margin: 0;
  padding: 15px 0px;
  text-align: center;
}

.empty-wishlist {
  width: 50%;
  margin: auto;
  text-align: center;
}

.wishlist-items {
  display: flex;
  flex-wrap: wrap;
  row-gap: 25px;
  column-gap: 25px;
  padding: 0px 50px;
  justify-content: center;
}

.wishlist-item {
  width: 350px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wishlist-item-img {
  width: 250px;
  height: 250px;
  justify-self: center;
}

.wishlist-item-name {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  margin: 0;
  padding: 15px 10px;
  letter-spacing: 0.5px;
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  height: 5em; /* Fallback for non-webkit, line-height * 2 */
  line-height: 1.3em;
  -webkit-line-clamp: 3; /* if you change this, make sure to change the fallback line-height and height */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wishlist-item-price {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.wishlist-item-mrp {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #686868;
  text-decoration: line-through;
}

.wishlist-cart-button,
.wishlist-cart-link {
  width: 100%;
  padding: 10px 0px;
  background-color: #7db133;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  text-align: center;
  font-weight: 600;
  border-bottom-left-radius: var(--block-border);
  border-bottom-right-radius: var(--block-border);
}
.wishlist-cart-link {
  background-color: #252525;
}

.relative-position {
  position: relative;
}

.like-icon {
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 10px;
  background-color: #fff;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  border-radius: 50%;
  cursor: pointer;
}

.heart {
  font-size: 18px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-red {
  color: red;
}
