.profile.container{
    padding: 25px 0px
}

.container h2{
    margin: 0;
    text-align: center;
}

.tabs{
    width: 50%;
    margin: 10px auto;
}

.tabs-heading {
    display: flex;
    align-items: center;
}

.tabs-heading p{
    margin: 0;
    flex: 1;
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-weight: 500;
    border: 1px solid #ccc;
    cursor: pointer;
}

.tabs-content{
    padding: 15px 25px;
    border: 1px solid #ccc;
    border-top: 0;
}

.myprofile{
    width: 70%;
    margin: auto;
}

.tab-div p{
    margin: 5px 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: .6px;
}

.tab-div p span {
    font-weight: 600;
    text-decoration: underline;
}

.add-address{
    border: 1px solid #333;
    border-radius: 5px;
    color: #000;
    background-color: transparent;
    padding: 5px 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.add-address:hover{
    border-color: #2cc0fa;
}

.addresses p{
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
}

.added-addresses p{
    border: 0;
    margin: 0;
}