.main-shop {
  width: 100%;
  min-height: calc(100vh - 67px);
  padding: 0px 0px 25px 0px;
}

.filters {
  padding: 10px 30px;
  height: max-content;
  border-radius: var(--block-border);
  position: sticky;
  top: 24px;
}

.filter-group {
  padding: 10px 0px;
}

.filters-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p-styling p {
  margin: 0px 0px 5px 0px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.filters-price-range {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.price-range {
  width: 100%;
}

input#AIO,
input#Laptops,
input#Printers {
  margin-right: 8px;
}

input#rating-4,
input#rating-3,
input#rating-2,
input#rating-1 {
  margin-right: 8px;
}

input#sortby-low,
input#sortby-high {
  margin-right: 8px;
}

.remove-filters-button {
  border: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
  text-decoration: underline;
}

.products {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 15px;
}

.product-item {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.product-item-name {
  font-size: 18px;
}

.product-details p {
  margin: 0;
}

.product-img img.product-item-image {
  width: 100%;
  height: 100%;
}

.product-item-price {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.selling-price {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  color: #000;
  font-weight: 600;
}

.mrp-price {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  font-family: "Poppins", sans-serif;
}

.line-through {
  text-decoration: line-through;
  margin-left: 5px;
}

.products-count {
  font-size: 18px;
  color: #333;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.add-to-cart-btn,
.add-to-cart-link {
  border: 0;
  border-radius: var(--block-border);
  padding: 8px 16px;
  background-color: #7db133;
  color: #fff;
  font-weight: normal;
  letter-spacing: 0.6px;
  font-size: 15px;
  text-decoration: none;
}

.add-to-cart-link {
  background-color: #252525;
}

p.product-rating {
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

.star-icon {
  color: orange;
  font-size: 20px;
}

.product-link {
  text-decoration: none;
  color: #333;
}

.product-link:hover {
  color: rgb(66, 66, 237);
  text-decoration: underline;
}
