.main-footer {
  background-color: #ebebf1;
  border-top: 1px solid #d8d8d8;
  padding: 15px;
}

.center {
  display: flex;
  justify-content: center;
}

.quick-links p,
.contact-me p {
  margin: 0;
  font-size: 22px;
  font-family: "Roboto";
  color: #333;
  padding: 8px 15px;
}

.footer-link {
  text-decoration: none;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #606060;
}

.footer-link:hover {
  color: #333;
  text-decoration: underline;
}

.new-footer {
  padding: 25px 50px;
}
