@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --block-border: 6px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  scroll-behavior: smooth;
}
